﻿@model IEnumerable<TwitterClone.Models.Tweet>
@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<style>
    .baslik {
        height: 3rem;
        margin-top: 20px;
    }

    .image-upload > input {
        display: none;
    }

    .image-upload img {
        width: 80px;
        cursor: pointer;
    }

    .bi-images {
        cursor: pointer;
        font-size: x-large;
        color: #1D9BF0;
    }

    .gonder {
        background-color: #1D9BF0;
        color: white;
        border-radius: 20px;
        font-weight: 600;
    }

    .card-header {
        background-color: white;
    }

    .profile-img {
        width: 2rem;
    }

    .card-header {
        border: none;
    }
    .kullanici{
        text-decoration:none;
        color:black;
    }
    .kullanici:hover{
        color:darkblue;
    }

    .card {
        border-radius: 1px;
        border-color: #EFF3F4;
        padding-left: 20px;
        padding-top: 10px;
    }


        .card:hover, .card:hover .card-header {
            background-color: #F7F7F7;
            cursor: pointer;
        }

    .tweet-photo {
        text-align: center !important;
        border-radius: 15px;
        width: 60%;
    }

    .tweet-icon {
        cursor: pointer;
        width: 1%;
    }

    .icons {
        margin-left: -60px;
    }
</style>

<div class="container">
    <div class="container baslik text-center">
        <div class="row">
            <div class="col">
                Sana Özel
            </div>
            <div class="col">
                Takip Edilenler
            </div>
        </div>
    </div>
    <div>
        <div class="input-group mb-3">
            <span class="input-group-text">a</span>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="textArea" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Neler Oluyor?</label>
            </div>
        </div>
        <div class="container baslik text-center">
            <div class="row">
                <div class="col">
                    <div class="image-upload">
                        <label for="file-input">
                            <i class="bi bi-images"></i>
                        </label>

                        <input id="file-input" type="file" />
                    </div>
                </div>
                <div class="col">
                    <button class="btn gonder" type="button" id="gonderButton">Gönder</button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="modal fade" id="DeleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="DeleteConfirmationLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="DeleteConfirmationLabel">Gönderi silinsin mi?</h5>
                    </div>
                    <div class="modal-body">
                        Tweeti silmek istediğine emin misin?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="CancelDelete" data-bs-dismiss="modal">İptal</button>
                        <button type="button" class="btn btn-danger" id="ConfirmDelete">Sil</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="tweetContainer">

        </div>
        <div class="card">
            <h6 class="card-header">
                <img class="profile-img" src="~/Images/XLogo.png" /> Elon Musk <img src="~/Images/twitter-verified-badge.svg" /><span style="color:darkgray">@@elonmusk - 24 Ara </span>
                <button class="btn delete-button" data-toggle="modal" data-target="#deleteModal" data-tweetid="${tweet.TweetId}"><i class="bi bi-trash"></i></button>
            </h6>
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <div class="container baslik text-center">
                    <div class="row icons">
                        <div class="col">
                            <i class="bi bi-chat tweet-icon"> 42</i>
                        </div>
                        <div class="col">
                            <i class="bi bi-arrow-repeat tweet-icon"> 74</i>
                        </div>
                        <div class="col">
                            <i class="bi bi-heart tweet-icon"> 278</i>
                        </div>
                        <div class="col">
                            <i class="bi bi-bar-chart-line tweet-icon"> 18B</i>
                        </div>
                        <div class="col">
                            <i class="bi bi-upload"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--tweet-->
        <div class="card">
            <h6 class="card-header">
                <img class="profile-img" src="~/Images/XLogo.png" /> Elon Musk <img src="~/Images/twitter-verified-badge.svg" /><span style="color:darkgray">@@elonmusk - 24 Ara </span>
                <button class="btn delete-button" data-toggle="modal" data-target="#deleteModal" data-tweetid="${tweet.TweetId}"><i class="bi bi-trash"></i></button>
            </h6>
            <div class="card-body">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <img class="tweet-photo" src="~/Images/lorem.png" />
                <div class="container baslik text-center">
                    <div class="row icons">
                        <div class="col">
                            <i class="bi bi-chat tweet-icon"> 1</i>
                        </div>
                        <div class="col">
                            <i class="bi bi-arrow-repeat tweet-icon"> 2</i>
                        </div>
                        <div class="col">
                            <i class="bi bi-heart tweet-icon"> 4</i>
                        </div>
                        <div class="col">
                            <i class="bi bi-bar-chart-line tweet-icon"> 200</i>
                        </div>
                        <div class="col">
                            <i class="bi bi-upload"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>


</div>

<script>
    moment.locale("TR-tr");
    $(document).ready(function () {
        getAllTweets();
        function getAllTweets() {
            $.ajax({
                url: "/Home/GetAllTweet",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    displayTweets(data);
                },
                error: function (error) {
                    console.log("Tweetleri getirirken bir hata oluştu:", error);
                }
            });
        }

        function displayTweets(tweets) {
            var tweetContainer = $("#tweetContainer");
            tweets.forEach(function (tweet) {
                var tweetTime = moment(tweet.TweetTime);
                var tweetHtml = `
            <div class="card">
                <h6 class="card-header">
                       <a class="kullanici" href="/User/Index/${tweet.User.UserId}">
                            <img class="profile-img" src="${tweet.User.UserImg}" />
                            ${tweet.User.UserName}
                        </a>
                    <span style="color:darkgray">@@${tweet.User.UserLink} - ${formatTweetTime(tweetTime)} </span>
                    <button class="btn delete-button" data-toggle="modal" data-target="#DeleteConfirmation" onclick="deleteClick(${tweet.TweetId})" data-tweetid="${tweet.TweetId}">
                    <i class="bi bi-trash"></i>
                    </button>
                </h6>
                <div class="card-body">
                    <p class="card-text">${tweet.TweetContent}</p>
                    <div class="container baslik text-center">
                        <div class="row icons">
                            <div class="col">
                                <i class="bi bi-chat tweet-icon"> 8</i>
                            </div>
                            <div class="col">
                                <i class="bi bi-arrow-repeat tweet-icon"> 100</i>
                            </div>
                            <div class="col">
                                <i class="bi bi-heart tweet-icon"> 300</i>
                            </div>
                            <div class="col">
                                <i class="bi bi-bar-chart-line tweet-icon"> 7k</i>
                            </div>
                            <div class="col">
                                <i class="bi bi-upload"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        `;

                tweetContainer.prepend(tweetHtml);
            });
        }

        function formatTweetTime(tweetTime) {
            var now = moment();
            var diffSecond = now.diff(tweetTime, 'second')
            var diffMinutes = now.diff(tweetTime, 'minutes');
            var diffHours = now.diff(tweetTime, 'hours');

            if (diffSecond < 60) {
                return diffSecond + 'sn'
            }
            else if (diffMinutes < 60) {
                return diffMinutes + 'd';
            } else if (diffHours < 24) {
                return diffHours + 's';
            } else {
                return tweetTime.format('D MMM');
            }
        }

        $('#gonderButton').on('click', function () {
            var tweetContent = $('#textArea').val();
            var newTweet = {
                TweetContent: tweetContent,
            };

            $.ajax({
                url: "/api/tweet",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(newTweet),
                success: function (addedTweet) {
                        $('#textArea').val('');
                        displayTweets([addedTweet]);
                },
                error: function (error) {
                    console.log("Tweet gönderirken bir hata oluştu:", error);
                }
            });
            
        });

        function deleteProduct(TweetId) {
            $('#DeleteConfirmation').modal('show');

            $('#ConfirmDelete').on('click', function () {
                $.ajax({
                    url: "/Home/DeleteTweet/" + TweetId,
                    type: "DELETE",
                    contentType: "application/json",
                    success: function (data) {
                        console.log('Success:', data);
                        $('#DeleteConfirmation').modal('hide');
                        location.reload();
                    },
                    error: function (error) {
                        console.log('Error:', error);
                        alert('Error deleting tweet.');
                    }
                });
            });
        }


        $(document).on('click', '.delete-button', function () {
            var tweetId = $(this).data('tweetid');
            deleteProduct(tweetId);
        });

    });

</script>