@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<style>
    .baslik{
        height:3rem;
        margin-top:20px;
    }
    .image-upload > input {
        display: none;
    }

    .image-upload img {
        width: 80px;
        cursor: pointer;
    }
    .bi-images {
        cursor: pointer;
        font-size: x-large;
        color: #1D9BF0;
    }
    .gonder {
        background-color: #1D9BF0;
        color:white;
        border-radius:20px;
        font-weight:600;
    }
    .card-header{
        background-color:white;
    }
    .profile-img{
        width:2rem;
    }
    .card-header {
        border:none;
    }
    .card{
        border-radius:1px;
        border-color:gainsboro;
        padding-left:20px;
        padding-top:20px;
    }
    .tweet-photo{
        text-align:center !important;
        border-radius:15px;
        width:27rem;
    }
    .tweet-icon{
        cursor:pointer;
    }
    .icons{
        margin-left:-60px;
    }
</style>

<div class="container">
    <div class="container baslik text-center">
        <div class="row">
            <div class="col">
                Sana Özel
            </div>
            <div class="col">
                Takip Edilenler
            </div>
        </div>
    </div>
    <div>
        <div class="input-group mb-3">
            <span class="input-group-text">a</span>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Neler Oluyor?</label>
            </div>
        </div>
        <div class="container baslik text-center">
            <div class="row">
                <div class="col">
                    <div class="image-upload">
                        <label for="file-input">
                            <i class="bi bi-images"></i>
                        </label>

                        <input id="file-input" type="file" />
                    </div>
                </div>
                <div class="col">
                    <button class="btn gonder" type="submit">Gönder</button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div id="tweetContainer">

        </div>
        <div class="card">
            <h6 class="card-header"> <img class="profile-img" src="~/Images/XLogo.png" /> Elon Musk <img src="~/Images/twitter-verified-badge.svg" /><span style="color:darkgray">@@elonmusk - 24 Ara </span></h6>
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <div class="container baslik text-center">
                    <div class="row icons">
                        <div class="col">
                            <i class="bi bi-chat tweet-icon"> 42</i>
                        </div>
                        <div class="col">
                            <i class="bi bi-arrow-repeat tweet-icon"> 74</i>
                        </div>
                        <div class="col">
                            <i class="bi bi-heart tweet-icon"> 2788</i>
                        </div>
                        <div class="col">
                            <i class="bi bi-bar-chart-line tweet-icon"> 18B</i>
                        </div>
                        <div class="col">
                            <i class="bi bi-upload"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--tweet-->
        <div class="card">
            <h6 class="card-header"> <img class="profile-img" src="~/Images/XLogo.png" /> Elon Musk <img src="~/Images/twitter-verified-badge.svg" /><span style="color:darkgray">@@elonmusk - 24 Ara </span></h6>
            <div class="card-body">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <img class="tweet-photo" src="~/Images/lorem.png"/>
                <div class="container baslik text-center">
                    <div class="row icons">
                        <div class="col">
                            <i class="bi bi-chat tweet-icon"> 8</i>
                        </div>
                        <div class="col">
                            <i class="bi bi-arrow-repeat tweet-icon"> 100</i>
                        </div>
                        <div class="col">
                            <i class="bi bi-heart tweet-icon"> 300</i>
                        </div>
                        <div class="col">
                            <i class="bi bi-bar-chart-line tweet-icon"> 1000</i>
                        </div>
                        <div class="col">
                            <i class="bi bi-upload"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>

</div>

<script>
    $(document).ready(function () {
        getAllTweets();

        function getAllTweets() {
            $.ajax({
                url: "/Home/GetAllTweet", 
                type: "GET",
                dataType: "json",
                success: function (data) {
                    displayTweets(data);
                },
                error: function (error) {
                    console.log("Tweetleri getirirken bir hata oluştu:", error);
                }
            });
        }

        function displayTweets(tweets) {
            var tweetContainer = $("#tweetContainer");

            tweets.forEach(function (tweet) {
                var tweetHtml = `
                    <div class="card">
                        <h6 class="card-header">
                            <img class="profile-img" src="${tweet.User.UserImg}" />
                            ${tweet.User.UserName}
                            <span style="color:darkgray">@@${tweet.User.UserLink} - ${tweet.TweetTime} </span>
                        </h6>
                        <div class="card-body">
                            <p class="card-text">${tweet.TweetContent}</p>
                            <div class="container baslik text-center">
                                <div class="row icons">
                                    <div class="col">
                                        <i class="bi bi-chat tweet-icon"> 8</i>
                                    </div>
                                    <div class="col">
                                        <i class="bi bi-arrow-repeat tweet-icon"> 100</i>
                                    </div>
                                    <div class="col">
                                        <i class="bi bi-heart tweet-icon"> 300</i>
                                    </div>
                                    <div class="col">
                                        <i class="bi bi-bar-chart-line tweet-icon"> 1000</i>
                                    </div>
                                    <div class="col">
                                        <i class="bi bi-upload"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                `;

                tweetContainer.append(tweetHtml);
            });
        }
    });
</script>